---
---

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$enable-rounded: false;

@import "bootstrap/bootstrap";

body {
  background-color: #fcfcfc;
}

@include media-breakpoint-up(sm) {
  main .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

main .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

main .container:nth-child(2n) {
  background-color: white;
}
main .container:nth-child(2n+1) {
  background-color: #f9f9f9;
}

.header-element {
  @extend .h3;
  @extend .pb-2;
  @extend .mb-5;
  @extend .font-weight-bold;
  border-bottom: 2px solid #e8e8e8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(232, 232, 232);
}

.hero {
  background-image: url('/img/hero.jpg');
  background-position: center top;
  background-size: cover;
  height: 600px;
  width: 100%;
}
