---
---

@import "bootstrap/bootstrap";

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fcfcfc;
}

@media (min-width: 576px) {
  main .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

main .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

main .container:nth-child(2n) {
  background-color: white;
}
main .container:nth-child(2n+1) {
  background-color: #f9f9f9;
}

.header-element {
  border-bottom: 2px solid #e8e8e8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(232, 232, 232);
}
