<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FSG Compesières</title>
    <meta name="description" content="Fédération Suisse de Gymnastique - Section Compesières, Genève">

    <link rel="stylesheet" href="/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f44100">
    <meta name="msapplication-TileColor" content="#f44100">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>

    <div class="container bg-white border-bottom border-danger">
      <nav class="navbar navbar-expand-xl navbar-light bg-white p-3">
        <a class="navbar-brand" href="/">
          <img src="/img/fsg-compesieres-logo.svg" height="25" alt="FSG Compesières">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Afficher le menu">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cours de gymnastique
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#agenda-horaires">Agenda & Horaires</a>
                <a class="dropdown-item" href="#tarifs">Tarifs</a>
                <a class="dropdown-item" href="#reglement">Règlement</a>
                <a class="dropdown-item" href="#bulletin-inscription">Bulletin d'inscription</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#monitrices-moniteurs">Monitrices/Moniteurs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section-compesieres">Section Compesières</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <main>
        {{ content }}
    </main>

    <footer class="container pt-5 pb-3 border-top border-danger">
      <p class="font-weight-bold">Avec le soutien de</p>
      <div class="row">
        <div class="col-12 col-md-6 col-lg">
          <a href="http://www.agg.ch/">
            <img src="/img/sponsor/agg.png" alt="Association de Gymnastique Genevoise" width="150">
          </a>
        </div>
        <div class="col-12 col-md-6 col-lg mt-5 mt-md-0">
          <a href="http://www.bardonnex.ch" class="mr-5">
            <img src="/img/sponsor/commune-bardonnex.png" alt="Commune de Bardonnex" width="150">
          </a>
        </div>
        <div class="col-12 col-md-6 col-lg mt-5 mt-lg-0">
          <a href="https://www.ochsnersport.ch" class="mr-5">
            <img src="/img/sponsor/ochsner-sport.svg" alt="Ochsner Sport" width="150">
          </a>
        </div>
        <div class="col-12 col-md-6 col-lg mt-5 mt-lg-0">
          <a href="https://fondsdusport.ch/accueil/">
            <img src="/img/sponsor/fonddusport.png" alt="Loterie Romande - Fonds du sport" width="150">
          </a>
        </div>
      </div>
      <div class="mt-5">
        <p class="text-muted small"><a href="https://laruche.io" class="text-reset">Design & développement — laruche</a></p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
